$zero: 0;

// Colors
$orange:#F0A500;
$gray:rgba(204, 204, 204, 0.8);
$black:black;
$white: white;
$bgLight:#0C0C14;
$bgDark:#090909;
$mesBlue:#00A0F0;
// Font family
$fontPop: "Poppins", sans-serif;
$fontRub: 'Rubik', sans-serif;